{% extends 'base.html' %}

{% block content %}
    <h1 class="mb-3">Daftar Barang Inventaris</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nama Barang</th>
                <th>Kuantitas</th>
                <th>Harga</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
            <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.quantity }}</td>
                <td>Rp {{ "{:,.2f}".format(item.price) }}</td>
            </tr>
            {% else %}
            <tr>
                <td colspan="4" class="text-center">Tidak ada barang dalam inventaris.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}